image: vasyakrg/docker:latest

stages:
  - build
  - test
  - review
  - stage
  - production

variables:
  DATABASE_URL: 'mongodb://mongo/user_posts'

before_script:
  - docker login -u $REGISTRY_USER -p $REGISTRY_PASSWORD
  # - apk add --no-cache py-pip python-dev libffi-dev openssl-dev gcc libc-dev make
  # - pip install docker-compose
  # - docker info

build_job:
  stage: build
  script:
    - echo 'Building'
    - docker-compose build -t vasyakrg/reddit-$CI_COMMIT_REF_NAME
    - docker push vasyakrg/reddit-$CI_COMMIT_REF_NAME

test_unit_job:
  stage: test
  script:
    - echo 'Testing 1'

test_unit_job:
  stage: test
  # services:
  #   - mongo:latest
  script:
    # - ruby simpletest.rb
    - echo 'Testing 2'

test_integration_job:
  stage: test
  script:
    - echo 'Testing 2'

deploy_dev_job:
  stage: review
  script:
    - echo 'Deploy'
    - docker stop reddit
    - docker run --rm -d -n reddit -p 9292:9292 --name redit vasyakrg/reddit-$CI_COMMIT_REF_NAME
  environment:
    name: dev
    url: http://docker1.aits.life:9292
  tags:
    - ubuntu

branch review:
 stage: review
 script: echo "Deploy to $CI_ENVIRONMENT_SLUG"
 environment:
   name: branch/$CI_COMMIT_REF_NAME
   url: http://$CI_ENVIRONMENT_SLUG.example.com
 only:
   - branches
 except:
   - master

staging:
  stage: stage
  when: manual
  only:
    - /^\d+\.\d+\.\d+/
  script:
    - echo 'Deploy'
  environment:
    name: stage
    url: https://beta.example.com

production:
  stage: production
  when: manual
  only:
    - /^\d+\.\d+\.\d+/
  script:
    - echo 'Deploy'
  environment:
    name: production
    url: https://example.com
