version: '3.3'
services:
  post_db:
    image: mongo:3.2
    volumes:
      - post_db:/data/db
    networks:
      back_net:
        aliases:
          - post_db
          - comment_db
  ui:
    # build: ./ui
    image: ${USER_NAME}/ui:latest
    ports:
      - ${UI_PORT}:${UI_PORT}/tcp
    networks:
      - front_net
    healthcheck:
      test: curl -sS http://127.0.0.1:9292 || exit 1
      interval: 20s
      timeout: 3s
      retries: 1

  post:
    # build: ./post-py
    image: ${USER_NAME}/post:latest
    networks:
      - back_net
      - front_net
  comment:
    # build: ./comment
    image: ${USER_NAME}/comment:latest
    networks:
      - back_net
      - front_net

volumes:
  post_db:

networks:
  back_net:
    ipam:
      config:
        - subnet: "10.10.1.0/24"
  front_net:
    ipam:
      config:
        - subnet: "10.10.2.0/24"
